body{
    background-color: brown;
}

.parent {
    width:300px;
    height: 400px;
    /* border: 4px black solid; */
    position: relative;
    margin-left: 500px;
    margin: auto;
}

img {
    top:0px;
    left:0px;
    position: absolute;
    transition: 1s;
}

.parent:hover img:nth-child(2) {
    top: 0px;
    left: 300px;
}

.parent:hover img:nth-child(3) {
    top: 400px;
    left: 0px;
}

.parent:hover img:nth-child(4) {
    top: 0px;
    left:-300px;
}